# Rust関連
/target/
**/target/
**/*.rs.bk
Cargo.lock

# コンパイル環境
/compile/rust/target/
/compile/rust/Cargo.lock
/compile/rust/src/main.rs
/compile/pypy/main.py

# ワークスペース
/workspace/

# エディタ/OS関連
.vscode/
.idea/
*.swp
.DS_Store

# 競プロ関連
**/input.txt
**/output.txt
**/test/
