# Rust関連
/target/
**/target/
**/*.rs.bk
Cargo.lock

# コンパイル環境
/compile/rust/target/
/compile/rust/Cargo.lock
/compile/rust/src/main.rs
/compile/rust/test
/compile/pypy/main.py

# コンテスト
contests
active_contest

# エディタ/OS関連
.vscode/
.idea/
*.swp
.DS_Store

# テストワークスペース
/tests/test_workspace/
.DS_Store